{{> nHeader }}

<div class="notes_wrapper">
  <div class="welcome_div">
    <img src="/images/omg.png" alt="">
  </div>
</div>

<h1>Saytning uzbekcha tizimida xatoliklar topildi shu sababli 'eng' versiyasi ishga tushirildi tez orada xatolarni o'g'nymiz</h1>

{{> footer }}
